/*General*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald&display=swap');
body {
  font-family: "Oswald", "Bebas Neue", sans-seriff;
  font-size: 18px;
  max-width: 960px;
  min-width: 500px;
  margin: 0 auto;
}

a:link {
  color: rgb(0, 100, 0);
}
a:visited {
  color: #800080; /*purple*/
}

a:hover {
  background-color: rgb(255, 196, 137); /*orange*/
}
a: active{
  color:#FFFF00 
}

h1 {
  color: rgb(139,0, 0); /*maroon*/
  font-family: "Bebas Neue", "Oswald", sans-serif;
}

h2 {
  color: rgb(0, 100, 0); /*green*/
  font-family: "Bebas Neue", "Oswald", sans-serif;
}
h3 {
  color: rgb(210,105,30);
}

p {
  line-height: 1.5;
}
figcaption {
  font-size: 13px;
  font-style: italic;
}

figure {
  margin: 2px;
  padding: 20px;
}
img{
  border: 3px solid #8B4513;
}
p, li {
  list-style-type: square;
}

/*Structure*/
section {
  margin-bottom: 15px;
  padding: 15px;
  background-color:rgb(255, 239, 213); /*light papaya*/
  border-left: 4px solid rgb(222,164, 96);
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 960px;
  background-color:rgb(255,248,220);
  margin: 5px;
  margin-bottom: 8px;
  padding-top: 5px;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-right: 15px;
}

section {
  padding: 20px;
}
header p {
  line-height: 1;
}
p {
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    max-width: 900px;
}


/*id selectors*/
#introduction {
  background-color: rgb(245, 222, 179); /*wheat*/
  border-right: 8px solid rgb(222,164, 96); /*burly wood*/
  border-bottom: 8px solid rgb(222,164, 96); /*burly wood*/
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 30px;
  margin-right: 20px;
  padding: 15px;
  max-width: 900px;
}
